html {
	font-family: Helvetica, Geneva, Tahoma, sans-serif;
	color: #1d0224;
	background: linear-gradient(45deg, rgb(113, 64, 169), rgb(254, 244, 135));
	min-height: 100vh;
	
}

body {	
	display: grid;
	grid-template-columns: repeat(3,1fr);
	
}

h1 {
	grid-column-start: 1;
	grid-column-end: -1;
	text-align: center;
}

ul {
	padding-left: 0;
	list-style-type: none;
	line-height: 1.5;
}

section {
	text-align: center;
}

:any-link {
	color: inherit;
}
